div{
    text-align: center;
    margin: 10px;
}
button{
    margin: 5px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
}
h3{
    color: dodgerblue;
}
.calculator{
    border: 2px solid black;
    width: 300px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}