<h2>My Project Title</h2>
<h3>Created by {{name}}</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, alias tenetur iusto ad totam consequuntur. Sunt illo itaque quis officia.</p>
<h4>Calculator</h4>
<div class="calculator">
    <div class="">
       <input type="number" [(ngModel)]="num1" placeholder="Enter 1st number" />
    <input type="number" [(ngModel)]="num2" placeholder="Enter 2nd number" />
    </div>
    <div class="operation">
        <button (click)="add()">+</button>
        <button (click)="subtract()">-</button>
        <button (click)="multiply()">*</button>
        <button (click)="divide()">/</button>
    </div>
    <h3>Result {{result}}</h3>
</div>