input{
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
    font-size: 16px;
    text-align: center;
    width: 50%;
}
div{
    margin: 20px;
    text-align: center;
}
li{
    list-style: none;
}