.todo-container {
  width: 100%;
  margin-top: 20px;
}

div{
  text-align: center;
  align-items: center;
  align-content: center;
}

input {
  padding: 6px;
  width: 50%;
}

button {
  padding: 6px;
  margin-left: 5px;
  width: 10%;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
  width: 60%;
  margin: auto;
}

li {
  margin: 8px;
  display: flex;
  width: 50%;
  text-align: center;
}

.delete {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}
